<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <context-param>
    <param-name>DB_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/vivita</param-value>
  </context-param>
  <context-param>
    <param-name>DB_DRIVER</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>DB_USER</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>DB_PASSWORD</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
  	<servlet-name>userRegistration</servlet-name>
  	<display-name>userRegistration</display-name>
  	<description></description>
  	<servlet-class>com.viva.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userLogin</servlet-name>
  	<display-name>userLogin</display-name>
  	<description></description>
  	<servlet-class>com.viva.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DBConnection</servlet-name>
  	<display-name>DBConnection</display-name>
  	<description></description>
  	<servlet-class>com.viva.controller.DBServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>addProject</servlet-name>
  	<display-name>addProject</display-name>
  	<description></description>
  	<servlet-class>com.viva.controller.AddProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getAllUsers</servlet-name>
  	<display-name>getAllUsers</display-name>
  	<description></description>
  	<servlet-class>com.viva.controller.ReadAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userRegistration</servlet-name>
  	<url-pattern>/userRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userLogin</servlet-name>
  	<url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBConnection</servlet-name>
  	<url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addProject</servlet-name>
  	<url-pattern>/addProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getAllUsers</servlet-name>
  	<url-pattern>/getAllUsers</url-pattern>
  </servlet-mapping>
</web-app>
